.ways-section {
    width: 44%;
    height: auto;
    padding: 30px 40px 85px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.ways-section span.loading {
    font-size: 20px;
    font-weight: 600;
    animation: loading infinite 1s alternate ease-in-out;
} 

@keyframes loading {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.ways-section .ways {
    width: 85%;
    height: auto;
} 

.ways h1 {
    font-size: 41px;
    font-weight: 700;
    margin: 0;
}

.ways p {
    color: rgb(143, 143, 143);
    font-weight: 600;
    font-size: 17px;
}

.ways button.shop-now {
    border: none;
    align-self: start;
    width: auto;
    height: 50px;
    background-color: transparent;
    font-weight: 700;
} 

.ways button.shop-now:hover {
    transform: scale(1.02);
} 

.ways button a {
    color: rgb(118, 118, 118);
    letter-spacing: 5px;
    font-size: 21px;
} 
.ways button.shop-now img {
    color: rgb(118, 118, 118);
    font-size: 21px;
    margin-left: 15px;
    animation: arrow infinite 1s alternate ease-in-out;
} 

@keyframes arrow {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}


.control-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 29%;
}

.control-buttons button {
    height: 83px;
    width: 50%;
    background-color: black;
    border: 2px solid black;
}

.control-buttons button:hover {
    background-color: rgb(67, 67, 67);
}

.control-buttons button img {
    margin: 0 auto;
}