header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.image-section {
    height: 68vh;
    width: 56%;
    background-color: rgb(255, 154, 154);
    background-image: url('./desktop-image-hero-1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}