.nav-section {
    height: 68vh;
    width: 53%;
    background-color: rgb(255, 154, 154);
    background-image: url('./desktop-image-hero-1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 50px 60px;
    border: 2px solid black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list {
    display: flex;
    align-items: start;
    gap: 40px;
}

li {
    display: flex;
    align-items: start;
}

li:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}